body {
    background-image: url("../src/img/xpbg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#IE {
    width: 64px;
    margin: 2em;
}

#IE:hover {
    background-color: rgba(0, 153, 255, 0.425);
    box-shadow: 0px 0px 5px black;
}